In [ ]:
import pandas as pd 
import numpy as np
import random
import statistics

In [ ]:
data = []

for i in range(8):
  num1 = random.randint(0,5)
  array1 = [num1, num1, 0, 0, "straight"]
  num2 = random.randint(0,5)
  array2 = [0,0,num2,num2, "straight"]
  data.append(array1)
  data.append(array2)

for i in range(8):
  num1 = random.randint(0,5)
  array1 = [num1, 0, 0,  num1, "diagonal"]
  num2 = random.randint(0,5)
  array2 = [0, num2, num2, 0, "diagonal"]
  data.append(array1)
  data.append(array2)

In [ ]:
df = pd.DataFrame(data, columns=["Top Left", "Top Right", "Bottom Left", "Bottom Right", "Class"])
df

    Top Left  Top Right  Bottom Left  Bottom Right     Class
0          4          4            0             0  straight
1          0          0            5             5  straight
2          0          0            0             0  straight
3          0          0            4             4  straight
4          3          3            0             0  straight
5          0          0            2             2  straight
6          0          0            0             0  straight
7          0          0            3             3  straight
8          1          1            0             0  straight
9          0          0            4             4  straight
10         2          2            0             0  straight
11         0          0            2             2  straight
12         2          2            0             0  straight
13         0          0            1             1  straight
14         4          4            0             0  straight
15         0          0            5             5  straight
16         1          0            0             1  diagonal
17         0          3            3             0  diagonal
18         0          0            0             0  diagonal
19         0          3            3             0  diagonal
20         1          0            0             1  diagonal
21         0          4            4             0  diagonal
22         1          0            0             1  diagonal
23         0          3            3             0  diagonal
24         1          0            0             1  diagonal
25         0          5            5             0  diagonal
26         2          0            0             2  diagonal
27         0          1            1             0  diagonal
28         4          0            0             4  diagonal
29         0          3            3             0  diagonal
30         1          0            0             1  diagonal
31         0          3            3             0  diagonal

In [ ]:
def sfunc(index1):
  listl = []
  thing = df[df.columns[index1]]
  thingy = thing[0:16]
  for pixel in thingy:
    listl.append(pixel)
  return listl

def dfunc(index2):
  listy = []
  anotherthing = df[df.columns[index2]]
  thingyy = anotherthing[16:32]
  for pixel in thingyy:
    listy.append(pixel)
  return listy


straight_top_left = sfunc(0)
straight_top_right = sfunc(1)
straight_bottom_left = sfunc(2)
straight_bottom_right = sfunc(3)

diagonal_top_left = dfunc(0)
diagonal_top_right = dfunc(1)
diagonal_bottom_left = dfunc(2)
diagonal_bottom_right = dfunc(3)

In [ ]:
print("Straight")
print(statistics.mean(straight_top_left[0:6]))
print(statistics.mean(straight_top_right[0:6]))
print(statistics.mean(straight_bottom_left[0:6]))
print(statistics.mean(straight_bottom_right[0:6]))
print("Diagonal")
print(statistics.mean(diagonal_top_left[0:6]))
print(statistics.mean(diagonal_top_right[0:6]))
print(statistics.mean(diagonal_bottom_left[0:6]))
print(statistics.mean(diagonal_bottom_right[0:6]))

Straight
1.1666666666666667
1.1666666666666667
1.8333333333333333
1.8333333333333333
Diagonal
0.3333333333333333
1.6666666666666667
1.6666666666666667
0.3333333333333333